---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import Cards from "../components/Cards.astro";

import { cards, tecnologias, habilidadesBlandas } from '../content/data/db.ts';
import SectionSkills from "../components/SectionSkills.astro";

---

<Layout>
  <div class="w-full h-full ">
    <div class="flex flex-row items-start text-center gap-20 mt-10 p-8">
      <Cards title={cards[0].title}, description = {cards[0].description} class="w-150"/>
      <Image
        src="/assets/elmer.JPG"
        alt="Elmer"
        width={200}
        height={200}
        class="rounded-lg shadow-lg border-2 border-gray-700 transition-all duration-300 hover:scale-105 hover:border-yellow-400"
      />
    </div>
    
    <section class="p-10 ">
      <h2 class="text-xl font-bold text-white mb-6 text-left ml-2">Del Aprendizaje a la Implementación</h2>
      
      <div class="grid md:grid-cols-2 gap-6">
        {
          cards.slice(1).map((card)=>(
            <Cards
              title={card.title}
              description ={card.description}
            />
            ))
        }
      </div>
    </section>

    <section class="p-14">
      <h2 class="text-4xl font-bold text-white text-center ml-2 mb-8">Hábilidades </h2>
      <h2 class="text-xl font-bold text-white text-left ml-2 mb-4">Destacado en: </h2>
      <div class="grid md:grid-cols-3 gap-6">
        {
          habilidadesBlandas.map(habilidad=>(
            <Cards
              title={habilidad.title}
              description={habilidad.description}
            />
          ))
        }
      </div>
    </section>

    {
      Object.entries(tecnologias).map( ([tecnologia, tecnologias]) =>(
        <SectionSkills title={tecnologia} , tecnologias={tecnologias}/>
      ))
    }
    
</Layout>
