---
import type { Tecnologia } from "../interfaces/Interface";

const { icon, nombre, porcentaje: porcentajeStr, color } = Astro.props as Tecnologia;
const porcentaje = parseInt(porcentajeStr.replace('%', ''), 10);

const colorFormado = `bg-${color}`
---

<div class="p-4 text-center">
    <img src={icon} alt={nombre} class="w-12 mx-auto" />
    <h5 class={`text-base font-bold mt-2 text-${color}`}>{nombre}</h5>
</div>
